@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: url("../css/fonts/ProximaNovaOpenType/ProximaNova-Black.otf");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: url("../css/fonts/ProximaNovaOpenType/ProximaNova-Light.otf");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url("../css/fonts/ProximaNovaOpenType/ProximaNova-Bold.otf");
}
@font-face {
    font-family: "Proxima Nova - Extrabld";
    font-style: normal;
    font-weight: 400;
    src: url("../css/fonts/ProximaNovaOpenType/ProximaNova-Xbold.otf");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url("../css/fonts/ProximaNovaOpenType/ProximaNova-Reg.otf");
}

