<div class="first-block">
    <div class="wrapper">
        <h1>something AS A SERVICE</h1>
        <div class="first-block__content">
            <div class="first-block__element">
                <img src="./img/icon_01.svg">
                <h3>Digital identity</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="first-block__element">
                <img src="./img/icon_02.svg">
                <h3>Trust Score</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="first-block__element">
                <img src="./img/icon_03.svg">
                <h3>Search engine</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="first-block__element">
                <img class="smile" src="./img/icon_04.svg">
                <h3>User friendly</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="center-line"></div>
    <div class="symbol-logo"></div>
</div>