<div class="middle-block">
    <div class="wrapper">
        <div class="middle-block__content">
            <div class="middle-block__text">
                <h3>OUR LIGHTPAPER</h3>
                <p>Team is currently working on all its documents.</p>
            </div>
            <div class="middle-block__button hvr-pulse">
                <p>download</p>
            </div>
            <div class="middle-block__broshure"></div>
            <div class="middle-block__bg-docs"></div>
        </div>
    </div>
</div>